body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.new-todo {
  display: flex;
  margin-top: 10px;
}

.new-todo input {
  flex: 1;
  height: 25px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  border: 3px solid #9a9393;
}

.new-todo button {
  background-color: #61dafc;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 5px;
  font-weight: 800;
}

ul {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  border: 2px solid #b1a8a882;
  padding: 5px;
  border-radius: 5px;
}

ul li input {
  width: 20px;
  height: 20px;
}

ul li button {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.todo-progress {
  text-align: center;
  margin-top: 30px;
}